body.lock {
    overflow: hidden;
}
.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 1;
    display: flex;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal {
    position: relative;
    padding-top:15px;
    margin: auto;
    width: 600px;
    max-width:100%;
    min-height: 530px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
    cursor: auto;
    h2 {
        margin: 25px
    }
}
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__close {
    position: absolute;
    height: 30px;
    width: 30px;
    color: black;
    border: none;
    right: 3px;
    top: 3px;
    background-color: transparent;
    &:hover {
        color: red;
    }
}
.modal_elem {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.error-message {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: red;
}
.input {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    border: 1px solid #cccccc;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6a6a6a;
    text-transform: uppercase;
    &__full-name {
        color: black;
    }
}

.confirm__btn {
    width: 40%;
    height: 40px;
    background: #f5f5f5;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}
.input__card {
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 20px;
    border: 1px solid;
    outline: none;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6a6a6a;
    text-transform: uppercase;
    &-number {
        width: 75%;
        display: block;
        margin-top: 10px;
    }
    &-valid {
        width: 25%;
    }
    &-cvv {
        width: 25%;
    }
}

.input__card-number {
    width: 70%;
    margin-top: 20px;
    margin-left: 10%;
}
.input__card-valid {
    width: 25%;
}

.card__cvv {
    margin-left: 20px;
}
.card__valid {
    margin-left: 10px;
    color: white;
}
.credit-card {
 
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 330px;
    height: 180px;
    border-radius: 10px;
}

.confirm__btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirm__btn:hover {
    background: #f44336;
    color: #f5f5f5;
}

.modal__title {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
.credit-card-img {
    display: flex;
    width: 70px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
}
.error_mess {
    height: 50px;
    margin: 5px 5%;
    color:red; 
}
