.product-detail-container {
  width: 80%;
  height: 80%;
  margin: auto;
  padding: 15px;
}

.details-links {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e72b2b;
}

.details-links-home {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    color: #e72b2b;
}

.product-card {
    display: flex;
    gap: 10px;
}

.flex-column {
    width: 50%;
}

.product-pictures {
    padding: 0 10px;
}

.picture-main-container {
    max-height: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.picture-main {
    max-width: 100%;
    height: 100%;
}

.pictures-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pictures-gallery div {
  width: 80px;
  height: 80px;
  border: 1px solid #bebebe;
  background-color: #fff;
}

.pictures-gallery img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    cursor: pointer;
}

.pictures-gallery img:hover {
    opacity: 0.8;
}

.product-desc-block {
    padding-top: 20px;
}

.product-desc {
    margin-top: 0px;
}
.product-buttons {
    padding: 10px 0;
}

.card-label {
    font-weight: bold;
}